<header class="header">
    <h1>Matches</h1>
</header>
<!-- <a class="button" href="/matches-new">
  new match
  <i class="fa fa-plus"></i>
</a> -->
<div class="wrapper">
  <div class="collection-item card" ng-repeat="m in matches">
    <div class="card-content">
      <p>{{ m.time | date:'yyyy-MM-dd HH:mm' }}</p>
      <ul>
        <li ng-repeat="p in m.players">{{p.name}}</li>
      </ul>
    </div>
    <div class="card-action">
      <a class="collection-item__link" href="/matches/{{m._id}}">See Match</a>
    </div>
  </div>
</div>
