<header class="header">
  <h1>New Match</h1>
</header>
<div class="wrapper">

  <div class="card" ng-repeat="p in players">
    <div class="card-content">
      <p>{{ p.firstName }} {{ p.lastName }}</p>
    </div>
    <div class="card-action">
      <button class="btn waves-effect waves-light" ng-click="addPlayer(p, $event)">add</button>
    </div>
  </div>

  <p> <label for="">Max Score:</label> <input ng-model="maxScore" type="text"></p>

  <button class="btn waves-effect waves-light" ng-click="newMatch()">play match</button>
</div>