<header class="header">
  <h1>Match</h1>
</header>
<div class="wrapper">
  <div class="card" ng-repeat="p in match.players">
    <div class="card-content">
      <p>{{ p.name }}</p>
      <p>{{ scores[$index] }}</p>
    </div>
    <div class="card-action">
      <button class="btn waves-effect waves-light" ng-click="updateScore(p, $index, $event)">point</button>
    </div>
  </div>
  <select ng-options="item as item.name for item in scoreTypes" ng-model="selectedScoreType"></select>
</div>


<!-- <button disabled="true" ng-click="finishMatch">finish Match</button> -->