<header class="header">
  <h1>{{ player.firstName }} {{ player.lastName }}</h1>
</header>

<div class="wrapper">
  <fieldset> 
    <label for="">First Name:</label> 
    <input ng-model="player.firstName" type="text">
  </fieldset>

  <fieldset>
    <label for="">Last Name:</label>
    <input ng-model="player.lastName" type="text">
  </fieldset>

  <fieldset>
    <button class="btn waves-effect waves-light" ng-click="update()">update</button>
    <button class="btn waves-effect waves-light" ng-click="delete()">delete</button>
  </fieldset>
</div>