/* reset */

fieldset{
  border:0;
}

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

h1{
  font-size:1.2rem;
}

.wrapper{
  padding:0 1rem;
}

nav{
  background-color:#9fa8da;
  height:auto;
}

.logo{
  margin-top:20px;
  max-width:200px;
}

.nav__wrapper{
  display:flex;
  justify-content:center;
  width:100%;
}

.nav__link{
  color:#E1DEE9;
  text-align:center;
  text-transform:uppercase;
  width:50%;
}

.nav__link.active{
  border-bottom:3px solid #FFF;
  color:#FFF;
  opacity:1;
}

.nav__link i.material-icons{
  font-size:2.5em;
}


.header{
  padding-left:2rem;
}